$logo_size: 30%;

.rcms-wrapper {
  @include horizontal-centering();
  background: $rcms_white;
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 400px;

  .rcms-logo {
    @include logo_font;
    text-align: center;
    flex: 0 1 $logo_size;
    font-size: 8rem;
    color: $rcms_lightpurple;
  }

  form {
    flex: 0 1 100% - $logo_size;
    margin: 20px 0;
  }

  .rcms-form-title {
    padding: 10px 30px;
    text-align: center;
    font-size: 3rem;

    &::before {
      padding: 20px;
    }
  }

}