.rcms-topbar {
  background: $rcms_white;
  padding: 15px 20px;
  box-sizing: content-box;

  .rcms-title {
    @include centering;
    transition: all 0.5s $rcms_easing;
    margin: 0;
  }

  .nav {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }

  .nav-link {
    padding: 0 10px;
    @include centering;
    display: inline-flex;
    color: $rcms_primary;

    &:hover .icon {
      color: $rcms_detail;
    }

    .icon {
      color: $rcms_primary;
      font-size: 1.5rem;
      transition: color 0.4s $rcms_easing;
    }
  }
}