.rcms-table {
  list-style: none;
  width: 100%;

  td {
    padding: 12px;
    text-align: center;

    &:nth-child(2), &:nth-child(3) {
      text-align: left;
    }
  }


  thead td {
    background: $rcms_dark;
    color: $rcms_white;
  }

  tbody tr {
    border-bottom: 1px solid $rcms_dark;
    background: $rcms_dimpurple;

    &:first-child {
      border-top: 1px solid $rcms_dark;
    }

    &:nth-child(2n) {
      background: transparent;
    }

    td:nth-child(1) {
      width: 55px;
      border-right: 1px solid $rcms_dark;
    }

    td:nth-child(2), td:nth-child(3) {
      text-align: left;
    }

    td:nth-child(4), td:nth-child(5) {
      width: 40px;
    }
  }

  tfoot td {
    padding: 10px;
  }

  .icon {
    color: $rcms_dark;

    &:hover {
      color: $rcms_lightpurple;
    }

    &:active {
      color: $rcms_yellow;
    }
  }
}

.rcms-select {
  display: none;

  & + label {
    width: 20px;
    height: 20px;
    border: 2px solid $rcms_dark;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  &:hover + label:after {
    background-color: $rcms_lightpurple;
  }

  & + label:after {
    top: 1px;
    left: 1px;
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 0;
    transition: background-color 0.2s $rcms_easing_click;
  }

  &:checked + label:after {
    background-color: $rcms_yellow;
  }
}