.rcms-viewport {
  height: 100%;
  background: #ebebeb;
  position: relative;
  -webkit-box-shadow: inset 0 0 10px #31263e;
          box-shadow: inset 0 0 10px #31263e;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.rcms-menu {
  background: #221e22;
  padding: 0;
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  min-width: 200px;
}

.rcms-menu .nav-link {
  cursor: pointer;
  -webkit-transition: background 0.2s cubic-bezier(0.84, 1.01, 0, 0.97), border-color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
  transition: background 0.2s cubic-bezier(0.84, 1.01, 0, 0.97), border-color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
  border-left: 7px solid transparent;
  color: #fefefe;
  padding-left: 20px;
}

.rcms-menu .nav-link span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transition: color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
  transition: color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
}

.rcms-menu .nav-link:hover {
  background: #31263e;
}

.rcms-menu .nav-link.router-link-active {
  border-left: 7px solid #eca72c;
}

.rcms-menu .nav-link.router-link-active > div,
.rcms-menu .nav-link.router-link-active > span {
  color: #eca72c;
}

.rcms-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Megrim', cursive;
  font-weight: bold;
  padding: 0 25px;
  font-size: 4rem;
  color: #fefefe;
  text-align: center;
  cursor: default;
}

.rcms-menu-bottom {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  min-height: 120px;
}

.rcms-menu-bottom h1,
.rcms-menu-bottom h2,
.rcms-menu-bottom h3,
.rcms-menu-bottom h4,
.rcms-menu-bottom h5 {
  border-bottom: 1px solid #31263e;
  margin: 0;
  padding-bottom: 5px;
  color: #fefefe;
  text-align: center;
}

.rcms-submenu {
  font-size: 0.6rem;
  color: #fefefe;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
}

.rcms-submenu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rcms-submenu .nav-link:hover {
  background: #31263e;
}

.rcms-table {
  list-style: none;
  width: 100%;
}

.rcms-table td {
  padding: 12px;
  text-align: center;
}

.rcms-table td:nth-child(2),
.rcms-table td:nth-child(3) {
  text-align: left;
}

.rcms-table thead td {
  background: #221e22;
  color: #fefefe;
}

.rcms-table tbody tr {
  border-bottom: 1px solid #221e22;
  background: rgba(68, 53, 91, 0.1);
}

.rcms-table tbody tr:first-child {
  border-top: 1px solid #221e22;
}

.rcms-table tbody tr:nth-child(2n) {
  background: transparent;
}

.rcms-table tbody tr td:nth-child(1) {
  width: 55px;
  border-right: 1px solid #221e22;
}

.rcms-table tbody tr td:nth-child(2),
.rcms-table tbody tr td:nth-child(3) {
  text-align: left;
}

.rcms-table tbody tr td:nth-child(4),
.rcms-table tbody tr td:nth-child(5) {
  width: 40px;
}

.rcms-table tfoot td {
  padding: 10px;
}

.rcms-table .icon {
  color: #221e22;
}

.rcms-table .icon:hover {
  color: #44355b;
}

.rcms-table .icon:active {
  color: #eca72c;
}

.rcms-select {
  display: none;
}

.rcms-select + label {
  width: 20px;
  height: 20px;
  border: 2px solid #221e22;
  margin: 0;
  position: relative;
  z-index: 1;
}

.rcms-select:hover + label:after {
  background-color: #44355b;
}

.rcms-select + label:after {
  top: 1px;
  left: 1px;
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 0;
  -webkit-transition: background-color 0.2s cubic-bezier(0.85, 2.07, 0.73, 0.91);
  transition: background-color 0.2s cubic-bezier(0.85, 2.07, 0.73, 0.91);
}

.rcms-select:checked + label:after {
  background-color: #eca72c;
}

.rcms-adduser-form {
  height: 100%;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rcms-adduser-form form {
  width: 75%;
}

.rcms-adduser-form label {
  font-size: 1.2rem;
}

.rcms-adduser-form button {
  margin-top: 30px;
  background: #31263e;
  -webkit-transition: background 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: background 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.rcms-adduser-form button:hover {
  background: #44355b;
}

.rcms-topbar {
  background: #fefefe;
  padding: 15px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.rcms-topbar .rcms-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  margin: 0;
}

.rcms-topbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.rcms-topbar .nav-link {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #31263e;
}

.rcms-topbar .nav-link:hover .icon {
  color: #eca72c;
}

.rcms-topbar .nav-link .icon {
  color: #221e22;
  font-size: 1.5rem;
  -webkit-transition: color 0.4s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: color 0.4s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.rcms-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.rcms-screen {
  width: 100%;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon {
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition: color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
  transition: color 0.3s cubic-bezier(0.85, 2.07, 0.73, 0.91);
}

.carousel-enter-active,
.carousel-leave-active {
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.carousel-enter-to {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.carousel-leave-to {
  position: absolute;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: opacity 0.8s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.fade-enter-active *,
.fade-leave-active * {
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: opacity 0.8s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.rcms-form-dropdown {
  position: relative;
}

.rcms-form-dropdown::after {
  content: "\F35F";
  display: inline-block;
  position: absolute;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  font-size: 2rem;
  top: 0.2rem;
  right: 0.5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: all 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
}

.rcms-form-dropdown:hover::after {
  color: #44355b;
}

.rcms-form-dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 5px;
  position: relative;
  border-bottom: 2px solid #ccc;
  text-align: center;
}

.rcms-form-dropdown select:focus {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #31263e;
}

.rcms-form-dropdown select:invalid {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #ee5622;
}

.rcms-input {
  border: 0;
  border-bottom: 2px solid #ccc;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-radius: 0;
  color: #666;
  background: transparent;
  width: 100%;
  text-align: center;
  -webkit-transition: border-color 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  transition: border-color 0.5s cubic-bezier(0.84, 1.01, 0, 0.97);
  font-size: 1rem;
}

.rcms-input:focus {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-color: #44355b;
  background: transparent;
}

.rcms-input:invalid {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-color: #ee5622;
  background: transparent;
}

.rcms-button {
  font-size: 1.2rem;
  color: #fefefe;
  padding: 10px 25px;
  width: 100%;
}

