.rcms-dashboard-menu {
  background: #005e92;
  border-bottom: 2px solid #003771;
}

.nav-link {
  color: #eee;
  font-size: 2.2em;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #1fa5dd;
}

.nav-link:active {
  color: #003771;
}

