.rcms-wrapper {
  height: 100%;
}

.rcms-menu {
  background: $menu_color;
  border-bottom: 2px solid $menu_separator_color;
  padding: 0;

  .navbar-toggler {
    border: none;
    padding: 0;
    margin-right: 20px;

    .navbar-toggler-icon {
      display: flex;
      position: relative;
      transition: .5s ease-in-out;
      cursor: pointer;
      background: white;
    }
  }
}

.rcms-logo {
  font-family: 'Megrim', cursive;
  font-weight: 600;
  color: $menu_color;
  font-size: 40px;
  border-right: 5px solid $menu_separator_color;
  border-radius: 0 50% 50% 0;
  padding: 0 25px 0 15px;
  background: $view_color;
}