@import "mixins";
@import "import/variables";
@import "import/viewport";
@import "import/dashboard/menu";
@import "import/dashboard/usertable";
@import "import/dashboard/topbar";

.rcms-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.rcms-screen {
  width: 100%;
  background: $view_color;
  display: flex;
  flex-direction: column;
}

