
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Flamenco|Megrim");

// Ionic Icons
@import url("https://use.fontawesome.com/5154f15f09.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap";

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

button {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;

  &:focus {
    box-shadow: 0 0 0;
  }
}