@import "mixins";
@import '../../../../../node_modules/simplemde/dist/simplemde.min.css';
@import "import/variables";
@import "import/viewport";
@import "import/dashboard/menu";
@import "import/dashboard/table";
@import "import/dashboard/user";
@import "import/dashboard/topbar";
@import "import/dashboard/options/theme";
@import "import/dashboard/pages/pageadd";
@import "import/dashboard/pages/pagelist";
@import "import/dashboard/chat";
@import "import/dashboard/footer";

.rcms-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 20px;
}

.rcms-screen {
  width: 100%;
  background: $view_color;
  display: flex;
  flex-direction: column;
}

.fa {
  cursor: pointer;
  font-size: 1.6rem;
  transition: color 0.3s $rcms_easing;
}

.carousel {
  &-enter-active, &-leave-active {
    transition: transform 0.8s ease;
  }
  &-enter {
    transform: translateY(0px);
  }
  &-leave-to {
    position: absolute;
    transform: translateY(-100%);
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity 1s ease;
  }
  &-enter, &-leave-to {
    position: absolute;
    opacity: 0;
  }
}

.rcms-form-dropdown {
  position: relative;

  &::after {
    content: "\f107";
    display: inline-block;
    position: absolute;
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;

    font-size: 2rem;
    top: 0.2rem;
    right: 0.5rem;
    transition: all 0.5s $rcms_easing;
  }

  select {
    @include select-clearstyle;
    padding: 5px;
    position: relative;
    border-bottom: 2px solid $rcms_input_color;
    transition: all 0.5s $rcms_easing;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    &:focus {
      @include select-clearstyle;
      border-bottom: 2px solid $rcms_main;
    }

    &:invalid {
      @include select-clearstyle;
      border-bottom: 2px solid $rcms_error;
    }
  }
}

.rcms-input {
  border: 0;
  border-bottom: 2px solid $rcms_input_color;
  box-shadow: 0 0 0;
  border-radius: 0;
  color: $text_color;
  background: transparent;
  width: 100%;
  text-align: center;
  transition: border-color 0.5s $rcms_easing;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0;
    border-color: $rcms_secondary;
    background: transparent;
  }

  &:invalid {
    box-shadow: 0 0 0;
    border-color: $rcms_error;
    background: transparent;
  }
}

.rcms-button {
  font-size: 1.2rem;
  color: $rcms_white;
  padding: 10px 25px;
  box-sizing: padding-box;
  width: 100%;
}