@import "mixins";
@import "import/variables";
@import "import/viewport";
@import "import/login/wrapper";
@import "import/login/form";

.rcms-viewport {
  background: linear-gradient(45deg, $rcms_primary, $rcms_secondary 50%, $rcms_secondary 60%, $rcms_primary);
  padding: 0;
  overflow: hidden;
}

.rcms-screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rcms-viewport {
    flex: 1 1 auto;
  }
}

.center {
  @include centering();
}