.rcms-dashboard-menu {
  background: $menu_color;
  border-bottom: 2px solid $menu_separator_color;
}

.nav-link {
  color: $icon_color;
  font-size: 2.2em;
  transition: color 0.5s;

  &:hover {
    color: $icon_color_hover;
  }

  &:active {
    color: $icon_color_active;
  }
}