// Colors
$rcms_white: #fefefe !default;

$rcms_secondary: rgba(68, 53, 91, 1) !default;
$rcms_primary: rgba(49, 38, 62, 1) !default;
$rcms_main: rgba(34, 30, 34, 1) !default;
$rcms_detail: rgba(236, 167, 44, 1) !default;
$rcms_error: rgba(238, 86, 34, 1) !default;
$rcms_gray: rgb(235, 235, 235) !default;
$rcms_dimmed: rgba(68, 53, 91, 0.1) !default;

$rcms_easing: cubic-bezier(.84,1.01,0,.97) !default;
$rcms_easing_click: cubic-bezier(.85,2.07,.73,.91) !default;

$text_color: #666 !default;
$rcms_input_color: #ccc !default;
$view_color: rgb(245, 245, 245) !default;