.rcms-viewport {
  height: 100%;
  background: $rcms_gray;
  position: relative;
  box-shadow: inset 0 0 10px $rcms_main;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s $rcms_easing;
}